.Carousel{
    width: 100%;
    height: 100%;
    
}
.react-multi-carousel-list  {
    height: 454px !important;
    width: 1430px !important;

}
.react-multi-carousel-track {
    width: 440px !important;
    height: 404px !important;
    gap: 40px !important;
    overflow: visible !important;
}
.react-multi-carousel-item react-multi-carousel-item--active {
    display: flex !important    ;
}